
<%- include('header') %>
<div class="menu-tag simg-body4 simg-white"><a class="index-tag  simg-white" href="/">Home</a> > お問い合わせ</div>
<div class="contact-title-bg simg-page-bg">
  <section class="contact-container">
      <div class="section-title simg-heading4 text-center simg-white">CONTACT US</div>
      <p class="section-subtitle simg-body2 text-center simg-white">
          R&D協力や製品・サービス導入のお問い合わせは、下記フォームへどうぞ。迅速に対応します。</p>

      <div class="contact-form pt-4 pb-5 simg-bg-white">
          <%- include('contactform') %>

      </div>
  </section>
</div>
    
<div id="simg-templete-footer"><%- include('footer') %></div>
   
  

   
