
<footer class="footer-container simg-bg-gray800">
    <div class="footer-sections">
        <div class="footer-info-section">
            <img src="/public/images/SimGLoco_Korean_MonoTone.png" alt="SimG Logo" class="footer-logo">
            <p class="footer-subtitle simg-body3 simg-gray400">重機操作訓練シミュレーターに特化</p>
            <div class="social-icons">
                <a href="https://www.youtube.com/channel/UCztDxh3P5Edx2fH6R11lHJA">
                    <div class="youtube-maketing-button">
                        <img src="/public/images/Youtube_icon.png" alt="YouTube">
                    </div>
                </a>
                <a href="https://blog.naver.com/simgxr">
                    <div class="blog-maketing-button">
                        <img src="/public/images/Blog_icon.png" alt="Blog">
                    </div>
                </a>
            </div>
        </div>
        <div class="footer-info-detail-section">
            <div class="footer-info-detail-section1">
                <div class="footer-info-title simg-body1 text-left simg-white">情報</div>
                <div class="footer-info-text1">
                    <p  class="text-left simg-gray500">TEL: [蔚山本部] 052-221-3001/3007</p>
                    <p  class=" text-left simg-gray500 pl-4">[ソウル支社です] 02-2081-2001</p>
                    <p  class=" text-left simg-gray500">ファックス: 052-970-0732</p>
                    <p  class=" text-left simg-gray500">Eメール: simg@simglab.com</p>
                </div>
            </div>
            <div class="footer-info-detail-section2">
                <div class="footer-info-title simg-body1 text-left simg-white">位置</div>
                <div class="footer-info-text2">
                    <p  class=" text-left simg-gray500">[本社] 54, ウリヨンヘ1ギル, 清梁邑, 蔚州郡, 蔚山, 102号 (郵便番号 44959)</p>
                    <p  class=" text-left simg-gray500">[ソウル支社] ソウル特別市 九老区 デジタル路30ギル31, 708号 (九老洞, コーロンデジタルタワービラントII) (郵便番号 08390)</p>
                    <p  class=" text-left simg-gray500">[釜山支社] 釜山広域市 海雲台区 センタム中央路48, 1310号 (牛洞, エースハイテック21) (郵便番号 48059)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="privacy">
            <a href="/ja/privacy">利用規約</a><a href="/ja/term">個人情報取扱方針</a>
        </div>
        <div class="flagList">
            <a href="/<%= current_page%>">
                <img src="/public/images/img-korea-flag.png">
            </a>
            <a href="/en/<%= current_page%>">
                <img src="/public/images/img-usa-flag.png">
            </a>
            <a href="/ja/<%= current_page%>">
                <img src="/public/images/img-japan-flag.png">
            </a>
            <a href="/vi/<%= current_page%>">
                <img src="/public/images/img-vie-flag.png">
            </a>
        </div>
        <div class="copyright simg-body4 text-center simg-gray500">Copyright © 2024 SimG 無断転載を禁じます。</div>
    </div>
</footer>

</body>

</html>