<%- include('header') %>
<div class="menu-tag simg-body4 simg-gray400"><a class="index-tag simg-gray500" href="/">ホーム</a> > <a class="aboutUs-tag" href="#">プライバシーポリシー</a></div>
<section class="about-us-container">
    <div class="about-us-info">
        <div class="about-us-title simg-title2 text-left">プライバシーポリシー</div>
        <div class="about-us-message simg-body4 text-left">
            <div class="simg-body3"><(주)심지>('http://www.SimgXR.com/'、以下「(주)심지 ホームページ」)は、「個人情報保護法」第30条に基づき、情報主体の個人情報を保護し、関連する苦情を迅速かつ円滑に処理するため、以下の通りプライバシーポリシーを策定・公開します。</div>
            <div class="line"></div>
            <div class="simg-body2">第1条（個人情報の処理目的）</div>
            <div class="simg-body4"><(주)심지>は、「個人情報保護法」第32条に基づき登録・公開する個人情報ファイルの処理目的は以下の通りです。
                1. 個人情報ファイル名：個人情報ファイル  
                処理目的：ユーザーの識別および本人確認などの会員管理  
                収集方法：ウェブサイト、書面、電話・ファックス、イベント、配送依頼、提携会社からの提供、情報収集ツールの利用  
                保有根拠：ユーザーの識別  
                保有期間：3年  
                関連法令：信用情報の収集・処理および利用に関する記録 - 3年</div>
            <div class="line"></div>
            <div class="simg-body2">第2条（個人情報の第三者提供）</div>
            <div class="simg-body4 simg-gray600"><(주)심지>は、第1条で明示した範囲内でのみ個人情報を処理し、「個人情報保護法」第17条および第18条に該当する場合にのみ第三者に提供します。
                提供先：(주)심지  
                利用目的：メール、電話番号、住所、性別、生年月日などの顧客識別情報  
                保有期間：3年</div>
            <div class="line"></div>
            <div class="simg-body2">第3条（個人情報処理の委託）</div>
            <div class="simg-body4 simg-gray600"><(주)심지>は、円滑な業務処理のために個人情報処理業務を委託しています。
                受託者：(주)심지  
                委託内容：購入・決済、配送、本人確認、苦情処理など  
                委託期間：3年</div>
            <div class="line"></div>
            <div class="simg-body2">第4条（情報主体の権利）</div>
            <div class="simg-body4 simg-gray600">情報主体はいつでも個人情報の閲覧、訂正、削除、処理停止を求めることができます。</div>
            <div class="line"></div>
            <div class="simg-body2">第5条（処理する個人情報の項目）</div>
            <div class="simg-body4 simg-gray600">必須項目：メール、電話番号、住所など  
                任意項目：法定代理人情報</div>
            <div class="line"></div>
            <div class="simg-body2">第6条（個人情報の破棄）</div>
            <div class="simg-body4 simg-gray600">個人情報の保有期間の経過または処理目的の達成時に、個人情報を破棄します。
                破棄方法：電子ファイルの削除、紙文書の裁断</div>
            <div class="line"></div>
            <div class="simg-body2">第7条（個人情報の安全性確保措置）</div>
            <div class="simg-body4 simg-gray600">定期監査、暗号化、アクセス制御、ハッキング防止などの安全措置を実施します。</div>
            <div class="line"></div>
            <div class="simg-body2">第8条（自動データ収集装置の不使用）</div>
            <div class="simg-body4 simg-gray600"><(주)심지>は、クッキーを使用しません。</div>
            <div class="line"></div>
            <div class="simg-body2">第9条（個人情報保護責任者）</div>
            <div class="simg-body4 simg-gray600">氏名：チョン・ジェウク  
                職位：代表  
                連絡先：052-221-3001/3007, wookene@ulsan.ac.kr</div>
            <div class="line"></div>
            <div class="simg-body2">第10条（権利侵害の救済方法）</div>
            <div class="simg-body4 simg-gray600">個人情報侵害の救済は、以下の機関に連絡することで求めることができます：
                1. 個人情報紛争調整委員会：1833-6972  
                2. 個人情報侵害申告センター：118</div>
            <div class="line"></div>
            <div class="simg-body2">第11条（プライバシーポリシーの変更）</div>
            <div class="simg-body4 simg-gray600">情報主体は、個人情報に関する苦情や相談について、以下の機関に連絡することができます：
                1. 個人情報紛争調整委員会：(国番号なし) 1833-6972 (www.kopico.go.kr)  
                2. 個人情報侵害申告センター：(国番号なし) 118 (privacy.kisa.or.kr)  
                3. 大検察庁：(国番号なし) 1301 (www.spo.go.kr)  
                4. 警察庁：(国番号なし) 182 (ecrm.cyber.go.kr)  
                「個人情報保護法」第35-37条に基づく請求が拒否された場合、行政審判を通じて異議を申し立てることができます。
                ※詳細は、中央行政審判委員会(www.simpan.go.kr)をご覧ください。</div>
            <div class="line"></div>
            <div class="simg-body2">第12条（施行日）</div>
            <div class="simg-body4 simg-gray600">本ポリシーは2021年9月1日から施行されます。</div>
        </div>
    </div>
</section>
<div id="simg-templete-footer"><%- include('footer') %></div>
