<%- include('header') %>
<div class="menu-tag simg-body4 simg-gray400"><a class="index-tag simg-gray500" href="/">Home</a> > <a class="aboutUs-tag" href="#">Privacy Policy</a></div>
<section class="about-us-container">
    <div class="about-us-info">
        <div class="about-us-title simg-title2 text-left">Privacy Policy</div>
        <div class="about-us-message simg-body4 text-left">
            <div class="simg-body3"><(주)심지>('http://www.SimgXR.com/' hereinafter referred to as '(주)심지 Homepage') establishes and discloses this privacy policy to protect the personal information of data subjects and to promptly and smoothly handle related complaints in accordance with Article 30 of the Personal Information Protection Act.</div>
            <div class="line"></div>
            <div class="simg-body2">Article 1 (Purpose of Personal Information Processing)</div>
            <div class="simg-body4"><(주)심지> registers and discloses personal information files under Article 32 of the Personal Information Protection Act for the following purposes.
                1. Personal Information File Name: Personal Information File  
                Purpose: To identify users and confirm their identity for membership management  
                Collection Methods: Website, written forms, phone/fax, promotional events, delivery requests, partnership data, and information collection tools  
                Retention Basis: User identification  
                Retention Period: 3 years  
                Relevant Laws: Records on the collection, processing, and use of credit information – 3 years</div>
            <div class="line"></div>
            <div class="simg-body2">Article 2 (Provision of Personal Information to Third Parties)</div>
            <div class="simg-body4 simg-gray600"><(주)심지> processes personal information only within the scope specified in Article 1 and provides personal information to third parties only when applicable under Articles 17 and 18 of the Personal Information Protection Act.
                Recipient: (주)심지  
                Purpose of Use: Email, phone number, address, gender, date of birth, and other customer identification information  
                Retention Period: 3 years</div>
            <div class="line"></div>
            <div class="simg-body2">Article 3 (Outsourcing of Personal Information Processing)</div>
            <div class="simg-body4 simg-gray600"><(주)심지> outsources personal information processing tasks to ensure smooth operations.
                Contractor: (주)심지  
                Outsourced Tasks: Purchase and payment processing, delivery, identity verification, complaint handling, etc.  
                Outsourcing Period: 3 years</div>
            <div class="line"></div>
            <div class="simg-body2">Article 4 (Rights of Data Subjects)</div>
            <div class="simg-body4 simg-gray600">Data subjects may request access, correction, deletion, and suspension of personal information processing at any time.</div>
            <div class="line"></div>
            <div class="simg-body2">Article 5 (Personal Information Items Processed)</div>
            <div class="simg-body4 simg-gray600">Mandatory Items: Email, phone number, address, etc.  
                Optional Items: Legal representative information</div>
            <div class="line"></div>
            <div class="simg-body2">Article 6 (Destruction of Personal Information)</div>
            <div class="simg-body4 simg-gray600">Personal information is destroyed without delay when the retention period expires or the processing purpose is achieved.
                Destruction Methods: Deleting electronic files and shredding paper documents</div>
            <div class="line"></div>
            <div class="simg-body2">Article 7 (Measures to Ensure the Safety of Personal Information)</div>
            <div class="simg-body4 simg-gray600">Regular audits, encryption, access control, and hacking prevention measures are implemented to ensure safety.</div>
            <div class="line"></div>
            <div class="simg-body2">Article 8 (Non-use of Automated Data Collection Devices)</div>
            <div class="simg-body4 simg-gray600"><(주)심지> does not use cookies.</div>
            <div class="line"></div>
            <div class="simg-body2">Article 9 (Personal Information Protection Officer)</div>
            <div class="simg-body4 simg-gray600">Name: Jung Jae Wook  
                Position: CEO  
                Contact: 052-221-3001/3007, wookene@ulsan.ac.kr</div>
            <div class="line"></div>
            <div class="simg-body2">Article 10 (Remedies for Infringement of Rights)</div>
            <div class="simg-body4 simg-gray600">If you need remedies for personal information infringement, you may contact the following organizations:
                1. Personal Information Dispute Mediation Committee: 1833-6972  
                2. Personal Information Infringement Report Center: 118</div>
            <div class="line"></div>
            <div class="simg-body2">Article 11 (Changes to the Privacy Policy)</div>
            <div class="simg-body4 simg-gray600">Data subjects may seek remedies from the Personal Information Dispute Mediation Committee, the Korea Internet & Security Agency's Personal Information Infringement Report Center, or other relevant institutions for disputes or complaints related to personal information.
                1. Personal Information Dispute Mediation Committee: 1833-6972 (www.kopico.go.kr)  
                2. Personal Information Infringement Report Center: 118 (privacy.kisa.or.kr)  
                3. Supreme Prosecutors' Office: 1301 (www.spo.go.kr)  
                4. National Police Agency: 182 (ecrm.cyber.go.kr)  
                Requests for access, correction, deletion, or suspension of processing under Articles 35-37 of the Personal Information Protection Act may be challenged through administrative appeals in accordance with the Administrative Appeals Act.
                ※ For more information on administrative appeals, please visit the Central Administrative Appeals Commission's website (www.simpan.go.kr).</div>
            <div class="line"></div>
            <div class="simg-body2">Article 12 (Effective Date)</div>
            <div class="simg-body4 simg-gray600">This policy is effective from September 1, 2021.</div>
        </div>
    </div>
</section>
<div id="simg-templete-footer"><%- include('footer') %></div>
