<%- include('header') %>

<div class="menu-tag simg-body4 simg-gray400"><a class="index-tag simg-gray500" href="/vi">Trang chủ</a> > <a class="aboutUs-tag"  href="#">Khách hàng</a></div>
<section class="our-clients-container">
    <div class="our-clients-list">
        <% dataClient.forEach(function(client) { %>
        <div class="our-clients-item">
            <img src="/public/uploads/client/<%= client.client_logo%>" title="<%= client.client_name_vi%>"  >
        </div>
        <%  }); %>
    </div>
    <tr>
        <td colspan="5">
            
        </td>
    </tr>
</section>
    <style>
        .pagination .page-item.active .page-link {
            color: white !important;
            background: #ccc;
        }

        .latest-news-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 230px; 
            padding: 10px;
        }

        .latest-news-info p {
            margin: 5px 0;
        }
    </style>
<div>&nbsp;</div><br><div>&nbsp;</div>
    <div id="simg-templete-footer"><%- include('footer') %></div>