<style>
    /* @media screen and (max-width: 710px) {
        .footer-container {
        height: 820px !important;
    }
} */
</style>
<footer class="footer-container simg-bg-gray800">
    <div class="footer-sections">
        <div class="footer-info-section">
            <img src="/public/images/SimGLoco_Korean_MonoTone.png" alt="SimG Logo" class="footer-logo">
            <p class="footer-subtitle   simg-gray400">Chuyên Mô phỏng Đào tạo Vận hành Thiết bị hạng nặng</p>
            <div class="social-icons">
                <a href="https://www.youtube.com/channel/UCztDxh3P5Edx2fH6R11lHJA">
                    <div class="youtube-maketing-button">
                        <img src="/public/images/Youtube_icon.png" alt="YouTube">
                    </div>
                </a>
                <a href="https://blog.naver.com/simgxr">
                    <div class="blog-maketing-button">
                        <img src="/public/images/Blog_icon.png" alt="Blog">
                    </div>
                </a>
            </div>
        </div>
        <div class="footer-info-detail-section">
            <div class="footer-info-detail-section1">
                <div class="footer-info-title simg-body1 text-left simg-white">Thông tin</div>
                <div class="footer-info-text1">
                    <p  class="text-left simg-gray500">TEL: [Trụ sở chính Ulsan] 052-221-3001/3007</p>
                    <p  class="text-left simg-gray500 pl-4"> &nbsp;[Văn phòng tại Seoul] 02-2081-2001</p>
                    <p  class=" text-left simg-gray500">FAX: 052-970-0732</p>
                    <p  class="text-left simg-gray500">EMAIL: simg@simglab.com</p>
                </div>
            </div>
            <div class="footer-info-detail-section2">
                <div class="footer-info-title simg-body1 text-left simg-white">Vị trí</div>
                <div class="footer-info-text2">
                    <p  class="text-left simg-gray500">[Trụ sở chính] 54, Yulriyeonghae 1-gil, Cheongnyang-eup, Huyện Ulju, Ulsan, 102 (Post code 44959)</p>
                    <p  class=" text-left simg-gray500">[Chi nhánh Seoul] 31, Digital-ro 30-gil, Quận Guro, Seoul, 708 (Phường Guro, Tòa nhà Kolon Digital Tower Villant II) (Post code 08390)</p>
                    <p  class="text-left simg-gray500">[Chi nhánh Busan] 48, Centumjungang-ro, Quận Haeundae, Busan, 1310 (Phường U-dong, Ace Hightech 21) (Post code 48059)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="privacy">
            <a href="/vi/privacy">Điều khoản Dịch vụ</a><a href="/vi/term">Chính sách Bảo mật</a>
        </div>
        <div class="flagList">
            <a href="/<%= current_page%>">
                <img src="/public/images/img-korea-flag.png">
            </a>
            <a href="/en/<%= current_page%>">
                <img src="/public/images/img-usa-flag.png">
            </a>
            <a href="/ja/<%= current_page%>">
                <img src="/public/images/img-japan-flag.png">
            </a>
            <a href="/vi/<%= current_page%>">
                <img src="/public/images/img-vie-flag.png">
            </a>

            
        </div>
        <div class="copyright simg-body4 text-center simg-gray500">Copyright © 2024 SimG All rights reserved.</div>
    </div>
</footer>

</body>

</html>