<%- include('header') %>
<div class="menu-tag simg-body4 simg-gray400"><a class="index-tag simg-gray500" href="/vi">Trang chủ</a> > <a class="aboutUs-tag" href="#">Điều khoản Dịch vụ</a></div>
<section class="about-us-container">
    <div class="about-us-info">
        <div class="about-us-title simg-title2 text-left">Điều khoản Dịch vụ</div>
        <div class="about-us-message simg-body4 text-left">
            <div class="simg-body1">Điều 1 (Mục đích)</div>
            <div class="simg-body4">Các điều khoản và điều kiện này nhằm xác định quyền, nghĩa vụ và trách nhiệm của Công ty (sau đây gọi là 'Công ty') và người dùng liên quan đến việc sử dụng các dịch vụ do <SimG Co., Ltd.>('<a href="http://www.SimgXR.com"> http://www.SimgXR.com</a>') cung cấp.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 2 (Định nghĩa)</div>
            <div class="simg-body4 simg-gray600">Các thuật ngữ chính được sử dụng trong các điều khoản và điều kiện này được định nghĩa như sau:
                Thuật ngữ "Dịch vụ" chỉ các dịch vụ do Công ty cung cấp, có thể sử dụng trên nhiều thiết bị khác nhau (PC, TV, thiết bị di động, v.v.), bất kể loại thiết bị.
                "Người dùng" là bất kỳ ai nhận được dịch vụ do Công ty cung cấp, bao gồm "Thành viên cá nhân", "Thành viên doanh nghiệp" và "Người không phải là thành viên".
                "Thành viên cá nhân" chỉ người đăng ký với Công ty bằng cách cung cấp thông tin cá nhân và liên tục nhận thông tin và dịch vụ từ Công ty.
                "Thành viên doanh nghiệp" chỉ người đăng ký với Công ty bằng cách cung cấp thông tin doanh nghiệp và cá nhân, và liên tục nhận thông tin và dịch vụ.
                "Người không phải là thành viên" chỉ người sử dụng dịch vụ của Công ty mà không đăng ký làm thành viên.
                "ID" là mã định danh duy nhất do thành viên tự chọn và được Công ty phê duyệt để sử dụng dịch vụ.
                "Mật khẩu" chỉ sự kết hợp của các ký tự (bao gồm ký tự đặc biệt) và số do thành viên đặt ra để xác minh danh tính và bảo vệ thông tin cá nhân của mình.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 3 (Quy định bổ sung)</div>
            <div class="simg-body4 simg-gray600">Những vấn đề không được quy định trong các điều khoản và điều kiện này sẽ được điều chỉnh bởi các luật liên quan hoặc các hướng dẫn chi tiết (sau đây gọi là 'Hướng dẫn chi tiết') do Công ty ban hành. Nếu có mâu thuẫn giữa các điều khoản này và Hướng dẫn chi tiết, thì Hướng dẫn chi tiết sẽ được ưu tiên áp dụng.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 4 (Hiệu lực và Sửa đổi các điều khoản)</div>
            <div class="simg-body4 simg-gray600">Các điều khoản và điều kiện này sẽ được đăng trên trang web của Công ty. Công ty có thể sửa đổi các điều khoản này trong phạm vi cho phép bởi luật pháp, chẳng hạn như Luật Bảo vệ Người tiêu dùng trong Thương mại Điện tử, v.v.
                Các thay đổi đối với các điều khoản sẽ được thông báo ít nhất 7 ngày (30 ngày đối với các thay đổi quan trọng) trước khi có hiệu lực, và thông báo cá nhân sẽ được gửi qua email, SMS hoặc thông báo trong dịch vụ.
                Người dùng không bày tỏ sự phản đối trong thời gian quy định sẽ được coi là đã đồng ý với các điều khoản đã thay đổi.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 5 (Thông báo tới người dùng)</div>
            <div class="simg-body4 simg-gray600">Trừ khi có quy định khác, Công ty có thể thông báo cho người dùng qua email, SMS hoặc các phương tiện thích hợp khác.
                Thông báo cho tất cả người dùng có thể được đăng trên trang web trong hơn 7 ngày. Tuy nhiên, thông báo cá nhân sẽ được cung cấp cho các vấn đề ảnh hưởng đáng kể đến từng người dùng cụ thể.
                Công ty không chịu trách nhiệm về các thông báo không đến được do thông tin liên lạc không chính xác hoặc đã lỗi thời.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 6 (Kết luận Thỏa thuận Sử dụng)</div>
            <div class="simg-body4 simg-gray600">Thỏa thuận sử dụng được kết luận khi người dùng đồng ý với các điều khoản và Công ty phê duyệt đơn đăng ký.
                Việc thanh toán hoặc sử dụng các dịch vụ bổ sung mà không đăng ký thành viên sẽ được coi là chấp nhận các điều khoản.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 7 (Phê duyệt thành viên)</div>
            <div class="simg-body4 simg-gray600">Công ty có thể yêu cầu xác minh danh tính để phê duyệt tư cách thành viên..
                Nếu có vấn đề kỹ thuật, Công ty có thể thông báo cho người đăng ký lý do từ chối.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 8 (Chỉnh sửa thông tin thành viên)</div>
            <div class="simg-body4 simg-gray600">Các thành viên có thể sửa đổi thông tin của mình bất kỳ lúc nào, trừ tên thật và ID của họ.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 9 (Quản lý và Bảo vệ Thông tin)</div>
            <div class="simg-body4 simg-gray600">Các thành viên phải quản lý ID và mật khẩu của mình và thông báo cho Công ty trong trường hợp có việc sử dụng trái phép.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 10 (Nghĩa vụ của Công ty)</div>
            <div class="simg-body4 simg-gray600">Công ty sẽ kịp thời sửa chữa bất kỳ sự cố thiết bị nào và có thể tạm thời đình chỉ dịch vụ trong các trường hợp đặc biệt.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 11 (Chính sách bảo mật)</div>
            <div class="simg-body4 simg-gray600">Công ty bảo vệ thông tin của người dùng theo quy định của pháp luật liên quan và chính sách bảo mật.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 12 (Nghĩa vụ của Người dùng)</div>
            <div class="simg-body4 simg-gray600">Người dùng không được cung cấp thông tin sai sự thật khi đăng ký hoặc thực hiện các hoạt động bị cấm.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 13 (Cung cấp Dịch vụ)</div>
            <div class="simg-body4 simg-gray600">Dịch vụ hoạt động 24/7, trừ thời gian bảo trì.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 14 (Giới hạn Dịch vụ)</div>
            <div class="simg-body4 simg-gray600">Công ty có thể tạm ngừng dịch vụ do các trường hợp bất khả kháng hoặc các tình huống không thể tránh khỏi khác.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 20 (Thẩm quyền)</div>
            <div class="simg-body4 simg-gray600">Các tranh chấp sẽ được giải quyết bởi các tòa án tại địa điểm của Công ty theo pháp luật Hàn Quốc.</div>
            <div class="line"></div>
            <div class="simg-body2">Phụ lục</div>
            <div class="simg-body4 simg-gray600">Các điều khoản này có hiệu lực từ ngày 1 tháng 9 năm 2021.</div>
        </div>
    </div>
</section>
<div id="simg-templete-footer"><%- include('footer') %></div>
