<%- include('header') %>
<div class="menu-tag simg-body4 simg-gray400"><a class="index-tag simg-gray500" href="/">Home</a> > <a class="aboutUs-tag" href="#">Privacy Policy</a></div>
<section class="about-us-container">
    <div class="about-us-info">
        <div class="about-us-title simg-title2 text-left">Privacy Policy</div>
        <div class="about-us-message simg-body4 text-left">
            <div class="simg-body3"><SimG Co., Ltd.>(<a href="http://www.SimgXR.com">'http://www.SimgXR.com/'</a> sau đây gọi là 'Trang chủ SimG Co., Ltd.') thiết lập và công bố chính sách bảo mật này nhằm bảo vệ thông tin cá nhân của các chủ thể dữ liệu và để xử lý kịp thời và suôn sẻ các khiếu nại liên quan theo quy định tại Điều 30 của Luật Bảo vệ Thông tin Cá nhân (Hàn Quốc).</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 1 (Mục đích Xử lý Thông tin Cá nhân)</div>
            <div class="simg-body4"><SimG Co., Ltd.> đăng ký và công bố các tệp thông tin cá nhân theo Điều 32 của Luật Bảo vệ Thông tin Cá nhân với mục đích sau đây.
                Tên Tệp Thông tin Cá nhân: Tệp Thông tin Cá nhân  
                Mục đích: Để xác định người dùng và xác nhận danh tính của họ cho việc quản lý thành viên  
                Phương pháp thu thập: Trang web, biểu mẫu viết, điện thoại/fax, sự kiện quảng bá, yêu cầu giao hàng, dữ liệu đối tác và công cụ thu thập thông tin  
                Cơ sở lưu giữ: Xác định người dùng  
                Thời gian lưu giữ: 3 năm 
                Luật liên quan: Hồ sơ về việc thu thập, xử lý và sử dụng thông tin tín dụng – 3 năm</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 2 (Cung cấp Thông tin Cá nhân cho Bên Thứ ba)</div>
            <div class="simg-body4 simg-gray600"><SimG Co., Ltd.> xử lý thông tin cá nhân chỉ trong phạm vi được quy định tại Điều 1 và chỉ cung cấp thông tin cá nhân cho bên thứ ba khi phù hợp theo Điều 17 và Điều 18 của Luật Bảo vệ Thông tin Cá nhân.
                Người Nhận: SimG Co., Ltd.  
                Mục đích Sử dụng: Thông tin xác định khách hàng, bao gồm email, số điện thoại, địa chỉ, giới tính, ngày sinh và các thông tin khác.
                Thời gian lưu giữ: 3 năm </div>
            <div class="line"></div>
            <div class="simg-body2">Điều 3 (Gia công Xử lý Thông tin Cá nhân)</div>
            <div class="simg-body4 simg-gray600"><SimG Co., Ltd.> gia công các nhiệm vụ xử lý thông tin cá nhân để đảm bảo hoạt động suôn sẻ.
                Nhà thầu: SimG Co., Ltd.   
                Nhiệm vụ gia công: Xử lý mua hàng và thanh toán, giao hàng, xác minh danh tính, xử lý khiếu nại, v.v.  
                Thời gian gia công: 3 năm</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 4 (Quyền của Chủ thể Dữ liệu)</div>
            <div class="simg-body4 simg-gray600">Chủ thể dữ liệu có thể yêu cầu truy cập, chỉnh sửa, xóa, và tạm dừng việc xử lý thông tin cá nhân bất kỳ lúc nào.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 5 (Các Mục Thông tin Cá nhân được Xử lý)</div>
            <div class="simg-body4 simg-gray600">Các mục bắt buộc: Email, số điện thoại, địa chỉ, v.v.  
                Các mục tùy chọn: Thông tin của người đại diện hợp pháp</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 6 (Hủy thông tin cá nhân)</div>
            <div class="simg-body4 simg-gray600">Thông tin cá nhân sẽ được hủy ngay lập tức khi hết thời gian lưu giữ hoặc khi đạt được mục đích xử lý.
                Phương pháp hủy: Xóa các tệp điện tử và cắt nhỏ tài liệu giấy.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 7 (Biện pháp Đảm bảo An toàn Thông tin Cá nhân)</div>
            <div class="simg-body4 simg-gray600">Các cuộc kiểm tra định kỳ, mã hóa, kiểm soát truy cập và các biện pháp ngăn chặn tấn công mạng được thực hiện để đảm bảo an toàn.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 8 (Không Sử dụng Thiết bị Thu Thập Dữ liệu Tự động)</div>
            <div class="simg-body4 simg-gray600"><SimG Co., Ltd.> không sử dụng cookies.</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 9 (Nhân viên Bảo vệ Thông tin Cá nhân)</div>
            <div class="simg-body4 simg-gray600">Họ tên: Jung Jae Wook  
                Vị trí: CEO  
                Thông tin liên lạc: 052-221-3001/3007, wookene@ulsan.ac.kr</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 10 (Biện pháp Khắc phục Vi phạm Quyền)</div>
            <div class="simg-body4 simg-gray600">Nếu bạn cần biện pháp khắc phục vi phạm thông tin cá nhân, bạn có thể liên hệ với các tổ chức sau:
                1. Ủy ban Hoà giải Tranh chấp Thông tin Cá nhân: 1833-6972  
                2. Trung tâm Báo cáo Vi phạm Thông tin Cá nhân: 118</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 11 (Thay đổi Chính sách Bảo mật)</div>
            <div class="simg-body4 simg-gray600">Chủ thể dữ liệu có thể tìm kiếm biện pháp khắc phục từ Ủy ban Hoà giải Tranh chấp Thông tin Cá nhân, Trung tâm Báo cáo Vi phạm Thông tin Cá nhân của Cơ quan Internet và An ninh Hàn Quốc, hoặc các tổ chức liên quan khác đối với các tranh chấp hoặc khiếu nại liên quan đến thông tin cá nhân.
                1. Ủy ban Hoà giải Tranh chấp Thông tin Cá nhân: 1833-6972 (www.kopico.go.kr)  
                2. Trung tâm Báo cáo Vi phạm Thông tin Cá nhân: 118 (privacy.kisa.or.kr)  
                3. Văn phòng Công tố viên Tối cao: 1301 (www.spo.go.kr)  
                4. Cơ quan Cảnh sát Quốc gia: 182 (ecrm.cyber.go.kr)  
                Các yêu cầu truy cập, chỉnh sửa, xóa hoặc tạm dừng xử lý theo Điều 35-37 của Luật Bảo vệ Thông tin Cá nhân có thể được khiếu nại thông qua các khiếu nại hành chính theo quy định của Luật Khiếu nại Hành chính.
                ※ Để biết thêm thông tin về các khiếu nại hành chính, vui lòng truy cập trang web của Ủy ban Khiếu nại Hành chính Trung ương (www.simpan.go.kr)</div>
            <div class="line"></div>
            <div class="simg-body2">Điều 12 (Ngày Có hiệu lực)</div>
            <div class="simg-body4 simg-gray600">Chính sách này có hiệu lực từ ngày 1 tháng 9 năm 2021.</div>
        </div>
    </div>
</section>
<div id="simg-templete-footer"><%- include('footer') %></div>
