
<footer class="footer-container simg-bg-gray800">
    <div class="footer-sections">
        <div class="footer-info-section">
            <img src="/public/images/SimGLoco_Korean_MonoTone.png" alt="SimG Logo" class="footer-logo">
            <p class="footer-subtitle simg-body3 simg-gray400">Specialized in Heavy Equipment 
                Operation Training Simulators</p>
            <div class="social-icons">
                <a href="https://www.youtube.com/channel/UCztDxh3P5Edx2fH6R11lHJA">
                    <div class="youtube-maketing-button">
                        <img src="/public/images/Youtube_icon.png" alt="YouTube">
                    </div>
                </a>
                <a href="https://blog.naver.com/simgxr">
                    <div class="blog-maketing-button">
                        <img src="/public/images/Blog_icon.png" alt="Blog">
                    </div>
                </a>
            </div>
        </div>
        <div class="footer-info-detail-section">
            <div class="footer-info-detail-section1">
                <div class="footer-info-title simg-body2 text-left simg-white">Information</div>
                <div class="footer-info-text1">
                    <p class="simg-body3 text-left simg-gray500">TEL: [울산본사] 052-221-3001/3007</p>
                    <p class="simg-body3 text-left simg-gray500 pl-4">&nbsp;&nbsp;[서울지사] 02-2081-2001</p>
                    <p class="simg-body3 text-left simg-gray500">팩스: 052-970-0732</p>
                    <p class="simg-body3 text-left simg-gray500">이메일: simg@simglab.com</p>
                </div>
            </div>
            <div class="footer-info-detail-section2">
                <div class="footer-info-title simg-body2 text-left simg-white">Location</div>
                <div class="footer-info-text2">
                    <p class="simg-body3 text-left simg-gray500">[본사] 울산 울주군 청량읍 율리영해1길 54, 102호 (우 44959)</p>
                    <p class="simg-body3 text-left simg-gray500">[서울지사] 서울특별시 구로구 디지털로30길 31 (우 08389)</p>
                    <p class="simg-body3 text-left simg-gray500">[부산지사] 부산 해운대구 센텀2로 22 (우 48058)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="privacy">
            <a href="/privacy">이용약관</a><a href="/term">개인정보처리방침</a>
        </div>
        <div class="flagList">
            <a href="/<%= current_page%>">
                <img src="/public/images/img-korea-flag.png">
            </a>
            <a href="/en/<%= current_page%>">
                <img src="/public/images/img-usa-flag.png">
            </a>
            <a href="/ja/<%= current_page%>">
                <img src="/public/images/img-japan-flag.png">
            </a>
            <a href="/vi/<%= current_page%>">
                <img src="/public/images/img-vie-flag.png">
            </a>
            
        </div>
        <div class="copyright simg-body4 text-center simg-gray500">Copyright © 2024 SimG All rights reserved.</div>
    </div>
</footer>

</body>

</html>