
<%- include('header') %>
<div class="menu-tag simg-body4 simg-gray400"><a class="index-tag simg-gray500" href="/">홈</a> > <a class="aboutUs-tag"  href="#">개인정보처리방침</a></div>
<section class="about-us-container">
    <div class="about-us-info">
        <div class="about-us-title simg-title2 text-left">개인정보처리방침</div>
        <div class="about-us-message simg-body4 text-left">
            <div class="simg-body3"><(주)심지>('http://www.SimgXR.com/' 이하 '(주)심지 홈페이지')은(는) 「개인정보 보호법」 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.</div>
            <div class="line"></div>
            <div class="simg-body2">제1조(개인정보의 처리목적)</div>
            <div class="simg-body4"><(주)심지>(이)가 개인정보 보호법 제32조에 따라 등록·공개하는 개인정보파일의 처리목적은 다음과 같습니다.
                1. 개인정보 파일명: 개인정보파일
                처리목적: 이용자 식별 및 본인 확인 등 회원 관리
                수집 방법: 홈페이지, 서면 양식, 전화/팩스, 경품 행사, 배송 요청, 제휴사 제공, 생성 정보 수집 툴 이용
                보유 근거: 이용자 식별
                보유 기간: 3년
                관련 법령: 신용정보의 수집/처리 및 이용에 관한 기록 - 3년</div>
            <div class="line"></div>
            <div class="simg-body2">제2조(개인정보의 제3자 제공)</div>
            <div class="simg-body4 simg-gray600"><(주)심지>은 개인정보를 제1조에서 명시한 범위 내에서만 처리하며, 「개인정보 보호법」 제17조 및 제18조에 해당하는 경우에만 제3자에게 제공합니다.
                제공받는 자: (주)심지
                이용 목적: 이메일, 전화번호, 주소, 성별, 생년월일 등 고객 식별 정보
                보유 기간: 3년</div>
            <div class="line"></div>
            <div class="simg-body2">제3조(개인정보처리 위탁)</div>
            <div class="simg-body4 simg-gray600">(주)심지는 원활한 업무 처리를 위해 개인정보 처리업무를 위탁하고 있습니다.
                수탁자: (주)심지
                위탁 내용: 구매·결제, 배송, 본인 인증, 민원 처리 등
                위탁 기간: 3년
            </div>
            <div class="line"></div>
            <div class="simg-body2">제4조(정보주체의 권리)</div>
            <div class="simg-body4 simg-gray600">정보주체는 언제든지 개인정보 열람, 정정, 삭제, 처리 정지를 요구할 수 있습니다.</div>
            <div class="line"></div>
            <div class="simg-body2">제5조(처리하는 개인정보 항목)</div>
            <div class="simg-body4 simg-gray600">필수 항목: 이메일, 전화번호, 주소 등
                선택 항목: 법정대리인 정보</div>
            <div class="line"></div>
            <div class="simg-body2">제6조(개인정보의 파기)</div>
            <div class="simg-body4 simg-gray600">개인정보 보유기간 경과 또는 처리 목적 달성 시 개인정보를 파기합니다.
                파기 방법: 전자 파일 삭제, 종이 문서 소각</div>
            <div class="line"></div>
            <div class="simg-body2">제7조(개인정보의 안전성 확보 조치)</div>
            <div class="simg-body4 simg-gray600">정기 감사, 암호화, 접근 통제, 해킹 방지 등의 안전 조치를 시행합니다.</div>
            <div class="line"></div>
            <div class="simg-body2">제8조(개인정보 자동 수집 장치 미사용)</div>
            <div class="simg-body4 simg-gray600">(주)심지는 쿠키를 사용하지 않습니다.</div>
            <div class="line"></div>
            <div class="simg-body2">제9조(개인정보 보호책임자)</div>
            <div class="simg-body4 simg-gray600">성명: 정재욱
                직책: 대표
                연락처: 052-221-3001/3007, wookene@ulsan.ac.kr</div>
            <div class="line"></div>
            <div class="simg-body2">제10조(권익침해 구제방법)</div>
            <div class="simg-body4 simg-gray600">개인정보 침해에 대한 구제는 아래 기관을 통해 요청할 수 있습니다:
                1. 개인정보 분쟁조정위원회: 1833-6972
                2. 개인정보침해신고센터: 118</div>
            <div class="line"></div>
            <div class="simg-body2">제11조(개인정보 처리방침 변경)</div>
            <div class="simg-body4 simg-gray600">정보주체는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다. 이 밖에 기타 개인정보침해의 신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.
                1. 개인정보분쟁조정위원회 : (국번없이) 1833-6972 (www.kopico.go.kr)
                2. 개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)
                3. 대검찰청 : (국번없이) 1301 (www.spo.go.kr)
                4. 경찰청 : (국번없이) 182 (ecrm.cyber.go.kr)
                「개인정보보호법」제35조(개인정보의 열람), 제36조(개인정보의 정정·삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.
                ※ 행정심판에 대해 자세한 사항은 중앙행정심판위원회(www.simpan.go.kr) 홈페이지를 참고하시기 바랍니다.</div>
            <div class="line"></div>
            <div class="simg-body2">제12조(개인정보 처리방침 변경)</div>
            <div class="simg-body4 simg-gray600">이 방침은 2021년 9월 1일부터 적용됩니다.
            </div>
        </div>
        
    </div>
</section>
<div id="simg-templete-footer"><%- include('footer') %></div>
  

   
